 @font-face {
    font-family: "SPACEARMOR";
    src: url("SPACE-ARMOR-BF63e4db675ab4e.otf") format("opentype");
    } 
   




      
      svg {
        font-family: 'Russo One', sans-serif;
        /* position: absolute;  */
        width: 100%; height: 100%;
      }
      svg text {

        text-transform: uppercase;
        animation: stroke 5s infinite alternate;
        stroke-width: 2;
        stroke: yellow;
        font-size: 140px;

      }
      @keyframes stroke {
        0%   {
          fill: rgba(72,138,20,0); stroke: rgb(230, 249, 24);
          stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
        }
        70%  {fill: rgba(72,138,20,0); stroke: rgb(230, 249, 24); }
        80%  {fill: rgba(72,138,20,0); stroke: rgb(230, 249, 24); stroke-width: 3; }
        100% {
          fill: rgb(230, 249, 24); stroke: rgba(54,95,160,0); 
          stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
        }
      }
      /* .svg{
      @media screen and (max-width: 700px) { p.text { font-size: 10px; } }
      } */
      @media screen and (max-width: 1920px) { .svg { width: 65%; } }
      @media screen and (max-width: 1375px)
       { .svg
         { width: 65%;
          margin-left: -15%;
       } }
      
       @media screen and (max-width: 751px)
       { .svg
         { width: 153%;
          margin-left: -7%;
       } }
       @media screen and (max-width: 694px)
       { .svg
         {
          margin-top:111% ;
       } }
       @media screen and (max-width: 430px)
       { .svg
         {
          width: 130%;
       } }
       @media screen and (max-width: 359px)
       { .svg
         {
          width: 120%;
       } }

       @media screen and (max-width: 328px)
       { .svg
         {
          width: 110%;
       } }